@import '_var';
@import 'modules/_loginpage';
@import 'modules/_signuppage';
@import 'modules/_headerfooter';
@import 'modules/_content';
@import 'modules/_profilepage';
@import 'modules/_createprofile';
@import 'modules/_account';
.hidden {
    display: none;
}
li {
    text-decoration: none;
    list-style: none;
}
body{
    font-family:'Oswald',sans-serif;
}