@import '_var';
@import 'modules/_loginpage';
@import 'modules/_signuppage';
@import 'modules/_header';
@import 'modules/_home';
@import 'modules/_profilepage';
.hidden {
    display: none;
}
li {
    text-decoration: none;
    list-style: none;
}