.content-main {
    width: 100vw;
    //background-color: $main-color;
    overflow: hidden;
    position: relative;
        .arrowbuttons {
            position: absolute;
            top: 0;
            // margin-top: 210px;
            transition: .5s ease;
            button{
                border-radius: 10px;
            }
        }
        .arrowright {
            right: 0;
        }
}
.movie-tv-arrow-margin {
    margin-top: 210px;
}
.content-wrp {
    // padding: 20px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: 1s ease;
}
.content {
    display: flex;
    flex-direction: column;
    //margin-left: 20px;
    .poster {
        width: 300px;
        height: 450px;
        position: relative;
        //overflow: hidden;
        img {
            height: 450px;
        }
        .content-info {
            position: absolute;
            height: 450px;
            left: 300px;
            overflow: hidden;
            top: 0;
            //background-color: rgba(108, 60, 151, 0.3);
            .poster-info {
                position: relative;
                height: 450px;
                width: 85vw;
                background-color: rgba(0,0,0,0.8);
                //opacity: 0;
                img {
                    height: 450px;
                }
                .poster-info-con {
                    position: absolute;
                    height: 450px;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    //pointer-events: none;
                    h2 {
                        padding: 10px;
                        border-radius: 0px 50px 0px 0px;
                        width: 400px;
                        font-size: 40px;
                        color: white;
                        background-color: rgba(0,0,0,0.8);
                    }
                    .flex {
                        display: flex;
                        flex-direction: row;
                        width: 400px;
                        background-color: rgba(0,0,0,0.8);
                        padding: 10px;
                        h3 {
                            color: white;
                            font-size: 25px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                    p {
                        padding: 10px;
                        width: 400px;
                        height: 100px;
                        overflow-y: scroll;
                        color: white;
                        font-size: 20px;
                        line-height: 25px;
                        background-color: rgba(0,0,0,0.8);
                    }
                }
            }
        }
    }
}
.title {
    font-size: 50px;
    font-weight: 700;
    //margin: 20px 0px 20px 20px;
    transform: translateX(-20px);
    padding: 20px 0px 20px 20px;
}
.title-wrp {
    transform: translateX(20px);

}

.popup-enter-active, .popup-leave-active {
    transition: all 1s ease;
}
.popup-enter, .popup-leave-to {
    opacity: 0;
    transform: translateX(300px);
 }

 .add-zindex {
    z-index: 1000;
 }
 .button-opacity {
    opacity: 0;
}
.popUpHold {
    position: relative;
}
.popUpButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    opacity: 0.25;
    transition: 1s ease;
    button {
        font-size: 30px;
        padding: 5px 17.5px;
        //border: 2px solid $main-color;
    }
}
.popUpButtons:hover {
    opacity: 1;
}
// .main-border-header {

// }
.main-color {
    background-color: $main-color;
}
.main-text-color {
    color: $main-color;
}
.main-kid {
    background-color: $kid-color;
}
.kid-text-color {
    color: $kid-color;
}
.kid-border-full {
    border-top: 20px dotted $kid-color;
    border-bottom: 20px dotted $kid-color;
}
.kid-border-half {
    border-bottom: 20px dotted rgba(111, 178, 112, 0.67);
    border-top: 20px dotted rgba(111, 178, 112, 0.67);
}
.kid-border-less {
    border-bottom: 20px dotted rgba(111, 178, 112, 0.34);
    border-top: 20px dotted rgba(111, 178, 112, 0.34);
}
.main-border-full {
    border-top: 20px dotted $main-color;
    border-bottom: 20px dotted $main-color;
}
.main-border-half {
    border-bottom: 20px dotted rgba(108, 60, 151, 0.67);
    border-top: 20px dotted rgba(108, 60, 151, 0.67);
}
.main-border-less {
    border-bottom: 20px dotted rgba(108, 60, 151, 0.34);
    border-top: 20px dotted rgba(108, 60, 151, 0.34);
}
// rgba(111, 178, 112, 1)