.main-header {
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10px;
    //padding: 0px 5px;
}
.main-buttons-hover {
    background-color: rgba(108, 60, 151, 0.2);
}
.kid-buttons-hover {
    background-color: rgba(111, 178, 112, 0.2);
}
.logo-image {
    width:300px;
}
.main-header-border {
    border-bottom: 5px solid $main-color;
}
.main-footer-border {
    border-top: 5px solid $main-color;
}
.kid-header-border {
    border-bottom: 5px solid $kid-color;
}
.kid-footer-border {
    border-top: 5px solid $kid-color;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.headerButton {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 0;
    outline: 1px inset $main-color; 
    outline-offset:-1px;
    transition: .3s ease;
    img {
        width: 30px;
        height: 30px;
    }
}
// .headerButton:hover {
//     background-color: rgba(108, 60, 151, 0.2);
// }
#search {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 50px;
    select {
        font-size: 18px;
        background-color: white;
        width: 110px;
        color: $main-color;
        border: 0;
        outline: 1px inset $main-color; 
        outline-offset:-1px;
        text-indent: 5px;
    }
    input {
        font-size: 18px;
        border: 0;
        padding: 0px 10px;
        outline: 1px inset $main-color; 
        outline-offset:-1px;
    }
}
input:focus, button:focus, select:focus {outline:1px inset $main-color; outline-offset: -1px;}
.main-content {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav {
    height: 50px;
    a {
        display:inline-block;
        text-decoration: none;
        text-align: center;
        padding: 10px 20px;
        color: $main-color;
        font-size: 30px;
        transition: .5s ease;
        font-weight: 700;
        opacity: .67;
    }
    a:hover {
        opacity: 1;
    }
}
footer {
    text-align: center;
    h3 {
        font-size: 25px;
        padding: 20px;
        color: $main-color;
        font-weight: 700;
    }
}

