.main-header {
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10px;
}
.logo-image {
    width:300px;
}
.main-header-border {
    border-bottom: 5px solid $main-color;
}
.main-footer-border {
    border-top: 5px solid $main-color;
}
.kid-header-border {
    border-bottom: 5px solid $kid-color;
}
.kid-footer-border {
    border-top: 5px solid $kid-color;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#search {
    button {
        width: 35px;
        height: 35px;
    }
    input {
        font-size: 18px;
    }
}
.main-content {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    button{
        margin-left: 10px;
        width: 50px;
        height: 35px;
    }
}
.nav {
    a {
        text-decoration: none;
        padding: 0px 10px;
        margin: 0px 10px;
        color: $main-color;
        font-size: 30px;
    }
}
footer {
    text-align: center;
    h3 {
        font-size: 25px;
        padding: 20px;
        color: $main-color;
        font-weight: 700;
    }
}